.item-list {
    margin: 8px auto;
    max-width: 800px;
    article {
        .item-wrapper {
            margin: 4px auto;
            box-shadow: 0 2px 4px #333;
        }
        figure {
            margin: 4px;
            vertical-align: top;
            display: inline-block;
            width: 25%;
            img {
                max-height: 150px;
                max-width: 200px;
            }
        }
        figcaption {
            display: inline-block;
            margin: 4px;
            width: 50%;
            .title, .published, .tags {
                margin: 4px auto;
            }
            .author, .link, .tags > span {
                display: inline-block;
            }
            .author {
                margin-right: 12px;
            }
        }
    }
    @media (max-width: 799px) {
        article {
            .item-wrapper {
                max-width: 100%;
            }
            figure {
                min-width: 40%;
                img {
                    max-width: 136px;
                }
            }
            figcaption {
                min-width: 240px;
                .title {
                    font-size: 20px;
                }
            }
        }
    }
    @media (max-width: 480px) {
        article {
            figure {
                min-width: 100%;
                img {
                    max-width: 180px;
                }
            }
            figcaption {
                min-width: 100%;
                .title, .published, .tags, .link-wrapper {
                    margin: 4px auto;
                    width: 240px;
                }
            }
        }
    }
}
